.audio-player-text {
  display: block;
  color: #7a8193;
  font-size: 12px;
}

.audio-player-text-align-center {
  text-align: center;
}

.audio-player-text-color-blue {
  color: #8796c1;
}

.audio-player-text-size-18 {
  font-size: 18px;
}

.audio-player-text-weight-900 {
  font-weight: 900;
}
